<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.tms.mapper.TicketStoreMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.tms.entity.TicketStore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_manager" jdbcType="VARCHAR" property="storeManager" />
    <result column="store_tel" jdbcType="VARCHAR" property="storeTel" />
    <result column="store_address" jdbcType="VARCHAR" property="storeAddress" />
    <result column="store_geo_longitude" jdbcType="VARCHAR" property="storeGeoLongitude" />
    <result column="store_geo_latitude" jdbcType="VARCHAR" property="storeGeoLatitude" />
    <result column="store_attachment" jdbcType="VARCHAR" property="storeAttachment" />
    <result column="store_manager_attachment" jdbcType="VARCHAR" property="storeManagerAttachment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, store_name, store_manager, store_tel, store_address, store_geo_longitude, store_geo_latitude, 
    store_attachment, store_manager_attachment, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.tms.entity.TicketStoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ticket_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ticket_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.tms.entity.TicketStoreExample">
    delete from ticket_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.tms.entity.TicketStore">
    insert into ticket_store (id, store_name, store_manager, 
      store_tel, store_address, store_geo_longitude, 
      store_geo_latitude, store_attachment, store_manager_attachment, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{storeManager,jdbcType=VARCHAR}, 
      #{storeTel,jdbcType=VARCHAR}, #{storeAddress,jdbcType=VARCHAR}, #{storeGeoLongitude,jdbcType=VARCHAR}, 
      #{storeGeoLatitude,jdbcType=VARCHAR}, #{storeAttachment,jdbcType=VARCHAR}, #{storeManagerAttachment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.tms.entity.TicketStore" useGeneratedKeys="true" keyProperty="id">
    insert into ticket_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeManager != null">
        store_manager,
      </if>
      <if test="storeTel != null">
        store_tel,
      </if>
      <if test="storeAddress != null">
        store_address,
      </if>
      <if test="storeGeoLongitude != null">
        store_geo_longitude,
      </if>
      <if test="storeGeoLatitude != null">
        store_geo_latitude,
      </if>
      <if test="storeAttachment != null">
        store_attachment,
      </if>
      <if test="storeManagerAttachment != null">
        store_manager_attachment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeManager != null">
        #{storeManager,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null">
        #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null">
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeGeoLongitude != null">
        #{storeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="storeGeoLatitude != null">
        #{storeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="storeAttachment != null">
        #{storeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="storeManagerAttachment != null">
        #{storeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.tms.entity.TicketStoreExample" resultType="java.lang.Long">
    select count(*) from ticket_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticket_store
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeManager != null">
        store_manager = #{record.storeManager,jdbcType=VARCHAR},
      </if>
      <if test="record.storeTel != null">
        store_tel = #{record.storeTel,jdbcType=VARCHAR},
      </if>
      <if test="record.storeAddress != null">
        store_address = #{record.storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.storeGeoLongitude != null">
        store_geo_longitude = #{record.storeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.storeGeoLatitude != null">
        store_geo_latitude = #{record.storeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.storeAttachment != null">
        store_attachment = #{record.storeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.storeManagerAttachment != null">
        store_manager_attachment = #{record.storeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticket_store
    set id = #{record.id,jdbcType=INTEGER},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_manager = #{record.storeManager,jdbcType=VARCHAR},
      store_tel = #{record.storeTel,jdbcType=VARCHAR},
      store_address = #{record.storeAddress,jdbcType=VARCHAR},
      store_geo_longitude = #{record.storeGeoLongitude,jdbcType=VARCHAR},
      store_geo_latitude = #{record.storeGeoLatitude,jdbcType=VARCHAR},
      store_attachment = #{record.storeAttachment,jdbcType=VARCHAR},
      store_manager_attachment = #{record.storeManagerAttachment,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.tms.entity.TicketStore">
    update ticket_store
    <set>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeManager != null">
        store_manager = #{storeManager,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null">
        store_tel = #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null">
        store_address = #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeGeoLongitude != null">
        store_geo_longitude = #{storeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="storeGeoLatitude != null">
        store_geo_latitude = #{storeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="storeAttachment != null">
        store_attachment = #{storeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="storeManagerAttachment != null">
        store_manager_attachment = #{storeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.tms.entity.TicketStore">
    update ticket_store
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_manager = #{storeManager,jdbcType=VARCHAR},
      store_tel = #{storeTel,jdbcType=VARCHAR},
      store_address = #{storeAddress,jdbcType=VARCHAR},
      store_geo_longitude = #{storeGeoLongitude,jdbcType=VARCHAR},
      store_geo_latitude = #{storeGeoLatitude,jdbcType=VARCHAR},
      store_attachment = #{storeAttachment,jdbcType=VARCHAR},
      store_manager_attachment = #{storeManagerAttachment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>