<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.StudentMapper">


    <insert id="addBatch" parameterType="list" >
        insert into tag (tag_name) values
        <foreach collection="tagList" separator="," item="tag" >
            (#{tag.tagName})
        </foreach>
    </insert>

</mapper>