<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--自定义服务名称-->
    <dubbo:application name="UserService"/>

    <!--声明注册中心-->
    <dubbo:registry address="zookeeper://192.168.1.225:2181"/>

    <!--服务的bean添加到spring容器-->
    <bean id="userService" class="com.kaishengit.service.impl.UserServiceImpl"/>

    <!--暴露服务-->
    <dubbo:service interface="com.kaishengit.service.UserService" ref="userService"/>

</beans>