<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.erp.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.erp.entity.Car">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="licence_no" jdbcType="VARCHAR" property="licenceNo" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="color" jdbcType="VARCHAR" property="color" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, car_type, licence_no, car_no, customer_id, color
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.erp.entity.CarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.erp.entity.CarExample">
    delete from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.erp.entity.Car">
    insert into car (id, car_type, licence_no, 
      car_no, customer_id, color
      )
    values (#{id,jdbcType=INTEGER}, #{carType,jdbcType=VARCHAR}, #{licenceNo,jdbcType=VARCHAR}, 
      #{carNo,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.erp.entity.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="licenceNo != null">
        licence_no,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="color != null">
        color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null">
        #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.erp.entity.CarExample" resultType="java.lang.Long">
    select count(*) from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <resultMap id="resultWithCustomer" type="com.kaishengit.erp.entity.Car" extends="BaseResultMap">
      <association property="customer" javaType="com.kaishengit.erp.entity.Customer">
          <id property="id" column="customer_id"/>
          <result property="userName" column="user_name"/>
          <result property="tel" column="tel"/>
          <result property="idCard" column="id_card"/>
      </association>
  </resultMap>
    <select id="findWithCustomerByLicenseNo" resultMap="resultWithCustomer">

    SELECT
        car.*, customer.user_name,
        customer.id_card,
        customer.tel
    FROM
        car
    LEFT JOIN customer ON car.customer_id = customer.id
    WHERE
        car.licence_no = #{licenseNo}

    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update car
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carType != null">
        car_type = #{record.carType,jdbcType=VARCHAR},
      </if>
      <if test="record.licenceNo != null">
        licence_no = #{record.licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.carNo != null">
        car_no = #{record.carNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car
    set id = #{record.id,jdbcType=INTEGER},
      car_type = #{record.carType,jdbcType=VARCHAR},
      licence_no = #{record.licenceNo,jdbcType=VARCHAR},
      car_no = #{record.carNo,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      color = #{record.color,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.erp.entity.Car">
    update car
    <set>
      <if test="carType != null">
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null">
        licence_no = #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.erp.entity.Car">
    update car
    set car_type = #{carType,jdbcType=VARCHAR},
      licence_no = #{licenceNo,jdbcType=VARCHAR},
      car_no = #{carNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>