<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>系统管理 - 权限管理</title>
    <script src="/plugins/treegrid/js/jquery.treegrid.min.js"></script>
    <script src="/plugins/treegrid/js/jquery.treegrid.bootstrap3.js"></script>
    <script src="/plugins/layer/layer.js"></script>
</head>
<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                权限管理
            </h1>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">权限列表</h3>
                    <div class="box-tools">
                        <a href="/manage/permission/new" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> 新增权限</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table tree">
                        <thead>
                        <tr>
                            <th>权限名称</th>
                            <th>权限代号</th>
                            <th>资源URL</th>
                            <th>类型</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="permission : ${permissionList}">
                            <tr th:class="treegrid-+${permission.id}" th:classappend="${permission.parentId != 0} ? 'treegrid-parent-' + ${permission.parentId} ">
                                <td th:text="${permission.permissionName}"></td>
                                <td th:text="${permission.permissionCode}"></td>
                                <td th:text="${permission.url}"></td>
                                <td th:text="${permission.permissionType}"></td>
                                <td>
                                    <a class="btn btn-primary btn-xs" th:href="@{/manage/permission/{id}/edit(id=${permission.id})}" title="编辑"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger btn-xs delLink" th:rel="${permission.id}" href="javascript:;" title="删除"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <script layout:fragment="js">
        $(function () {
            $('.tree').treegrid();

            $(".delLink").click(function(){
                var id = $(this).attr("rel");
                layer.confirm("确定要删除吗",function (index) {
                    layer.close(index);
                    $.get("/manage/permission/"+id+"/del").done(function (result) {
                        if(result.status == 'success') {
                            history.go(0);
                        } else {
                            layer.msg(result.message);
                        }
                    }).error(function () {
                        layer.msg("服务器忙");
                    });
                })
            });
        });
    </script>
</body>
</html>